<div class="countries">
    <table width="80%">
        <tr>
            <th>Name</th>
            <th>Country Code</th>
            <th>Capital</th>
            <th>Area in km2</th>
            <th>Population</th>
            <th>Continent</th>
        </tr>
        <tr ng-repeat="country in countries | orderBy: 'countryName'">
            <td>
                <a ng-bind="country.countryName" ng-href="#/countries/{{country.countryCode}}"></a>
            </td>
            <td ng-bind="country.countryCode"></td>
            <td ng-bind="country.capital"></td>
            <td ng-bind="country.areaInSqKm | number"></td>
            <td ng-bind="country.population | number"></td>
            <td ng-bind="country.continent"></td>
        </tr>
    </table>

    <button ng-click="browseCountries('/')"> Home
    </button>
</div>
