<div class="detail">

    <h2 ng-bind="country.countryName"> </h2>

    <h3> Population Of Country: {{ country.population }} </h3>
    <h3> Area: {{ country.areaInSqKm}} </h3>
    <h3> Capital: {{ country.capital }} </h3>
    <h3> Population Of Capital: {{ search.population }}</h3>
    <h3> Neighbors: </h3>
    <div class="neighbors" ng-repeat="neighbor in neighbors">
        <h4 ng-bind="neighbor.countryName"> </h4>
    </div>


    <p> Insert country map and flag </p>

    <button ng-click="browseCountries('/')"> Home
    </button>
    <button ng-click="browseCountries('/countries')"> Browse Countries
    </button>
</div>
