<div class="detail" ng-repeat="detail in countryDetails">

    <h2> {{detail.countryName}} </h2>

    <h3> Population: {{detail.population}} </h3>
    <h3> Area: {{detail.areaInSqKm}} </h3>
    <h3> Capital: {{detail.capital}} </h3>
    <h3> Population Of Capital: fill in </h3>
    <h3> 3 neighbors: fill in </h3>

    <p> Insert country map and flag </p>

    <button ng-click="browseCountries('/')"> Home
    </button>
    <button ng-click="browseCountries('/countries')"> Browse Countries
    </button>
</div>
