<div class="detail">

    <h2 class="detail-title" ng-bind="country.countryName"> </h2>


    <div class="imageHolder">
        <img class="detail-img" ng-src="http://www.geonames.org/flags/x/{{vm.countryCode | lowercase}}.gif" />
        <img class="detail-img" id='myImage' src="http://www.geonames.org/img/country/250/{{vm.countryCode}}.png" />
    </div>

    <h3> Population Of Country</h3>
    <h4 ng-bind="vm.country.population | number" </h4>
    <h3> Area</h3>
    <h4 ng-bind="vm.country.areaInSqKm | number" </h4>
    <h3> Capital</h3>
    <h4 ng-bind="vm.country.capital" </h4>
    <h3> Population Of Capital</h3>
    <h4 ng-bind="vm.country.population | number" </h4>
    <h3> Neighbors </h3>
    <div class="neighbors" ng-repeat="neighbor in vm.country.neighbors">
        <h4 ng-bind="neighbor.countryName"> </h4>
    </div>

    <div class="detailButtons">
        <button ng-click="vm.browseCountries('/')"> Home
        </button>
        <button ng-click="vm.browseCountries('/countries')"> Browse Countries
        </button>
    </div>


</div>
